<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.cargill.pipasa" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/icon" android:label="Pipasa">
		<activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
			<!-- Filter which captures custom scheme based redirects for Okta authorization requests. -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="com.oktapreview.cargillcustomer-qa" />
				<data android:scheme="com.oktapreview.cargillcustomer-qa:/callback" />
			</intent-filter>
		</activity>
	</application>
</manifest>